openapi: 3.2.0
info:
  title: Marketstack API v2 Currencies API
  version: 2.0.0
  description: The official Marketstack API documentation will help you learn how to query the Marketstack JSON API for real-time, intraday, and historical stock market data, along with more advanced EDGAR data endpoints.
servers:
- url: https://api.marketstack.com/v2
security:
- ApiKeyQuery: []
tags:
- name: Currencies
paths:
  /currencies:
    get:
      tags:
      - Currencies
      summary: Currencies
      description: Returns a paginated list of supported currencies by Marketstack API.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Currencies retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrenciesResponse'
      operationId: getCurrencies
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      type: object
      properties:
        limit:
          type: integer
          description: Returns your pagination limit value.
        offset:
          type: integer
          description: Returns your pagination offset value.
        count:
          type: integer
          description: Returns the results count on the current page.
        total:
          type: integer
          description: Returns the total count of results available.
    CurrenciesResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Currency'
    Currency:
      type: object
      properties:
        code:
          type: string
          description: Three-letter currency code.
        name:
          type: string
          description: Currency name.
        symbol:
          type: string
          description: Currency symbol.
        symbol_native:
          type: string
          description: Native currency symbol.
  parameters:
    Offset:
      name: offset
      in: query
      description: Pagination offset (number of results to skip). Default 0.
      required: false
      schema:
        type: integer
        minimum: 0
    AccessKey:
      name: access_key
      in: query
      description: Your Marketstack API access key.
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      description: Pagination limit (results per page). Default 100, maximum 1000.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: access_key
      description: Your Marketstack API access key.
