{"openapi":"3.0.3","info":{"title":"Marketstack API v2","version":"2.0.0","description":"The official Marketstack API documentation will help you learn how to query the Marketstack JSON API for real-time, intraday, and historical stock market data, along with more advanced EDGAR data endpoints. Also, define multiple stock symbols, retrieve extensive data about 2700+ Stock Exchanges Info, 30000+ Stock tickers from more than 50 countries, as well as 750 + Stock Market indexes, information about timezones, currencies, and more.\n\nOur API is built upon a RESTful and easy-to-understand request and response structure. API requests are always sent using a simple API request URL with a series of required and optional HTTPS GET parameters, and API responses are provided in lightweight JSON format.\n"},"servers":[{"url":"https://api.marketstack.com/v2"}],"security":[{"ApiKeyQuery":[]}],"tags":[{"name":"End-of-day"},{"name":"Intraday"},{"name":"Stock Prices"},{"name":"Commodities"},{"name":"Company Ratings"},{"name":"Splits"},{"name":"Dividends"},{"name":"Tickers"},{"name":"Indexes"},{"name":"Exchanges"},{"name":"Currencies"},{"name":"Timezones"},{"name":"Bonds"},{"name":"ETFs"},{"name":"EDGAR"}],"components":{"securitySchemes":{"ApiKeyQuery":{"type":"apiKey","in":"query","name":"access_key","description":"Your Marketstack API access key."}},"parameters":{"AccessKey":{"name":"access_key","in":"query","description":"Your Marketstack API access key.","required":true,"schema":{"type":"string"}},"Limit":{"name":"limit","in":"query","description":"Pagination limit (results per page). Default 100, maximum 1000.","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}},"Offset":{"name":"offset","in":"query","description":"Pagination offset (number of results to skip). Default 0.","required":false,"schema":{"type":"integer","minimum":0}},"CommodityName":{"name":"commodity_name","in":"query","description":"Specify the commodity_name for which you like to receive the Price, aluminum for example.","required":true,"schema":{"type":"string"}},"Frequency":{"name":"frequency","in":"query","description":"Specify the frequency of the commodity prices. Available options are `daily`, `weekly`, `monthly`, `quarterly`, and `yearly`. Default is `daily`.","required":false,"schema":{"type":"string","enum":["daily","weekly","monthly","quarterly","yearly"]}},"Ticker":{"name":"ticker","in":"query","description":"One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).","required":true,"schema":{"type":"string"}},"Rated":{"name":"rated","in":"query","description":"Filter response on buy, sell, or hold.","required":false,"schema":{"type":"string","enum":["buy","sell","hold"]}},"Symbols":{"name":"symbols","in":"query","description":"One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).","required":true,"schema":{"type":"string"}},"DateFrom":{"name":"date_from","in":"query","description":"Filter results from this date (inclusive). Format `YYYY-MM-DD`.","required":false,"schema":{"type":"string","format":"date"}},"DateTo":{"name":"date_to","in":"query","description":"Filter results up to this date (inclusive). Format `YYYY-MM-DD`.","required":false,"schema":{"type":"string","format":"date"}},"Exchange":{"name":"exchange","in":"query","description":"Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.","required":false,"schema":{"type":"string"}},"AfterHours":{"name":"after_hours","in":"query","description":"If set to true, includes pre and post market data if available. By default is set to false.","required":false,"schema":{"type":"boolean"}},"Sort":{"name":"sort","in":"query","description":"Sort order. Use `ASC` for oldest first or `DESC` for newest first.","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},"Interval":{"name":"interval","in":"query","description":"Intraday aggregation interval.","required":false,"schema":{"type":"string","enum":["1min","5min","10min","15min","30min","1hour"]}},"Search":{"name":"search","in":"query","description":"Search term to filter tickers by name or symbol.","required":false,"schema":{"type":"string"}},"ExchangeFilter":{"name":"exchange","in":"query","description":"Filter by stock exchange MIC (e.g., `XNAS`, `XNYS`) or code (e.g., `NASDAQ`).","required":false,"schema":{"type":"string"}},"MIC":{"name":"mic","in":"path","required":true,"description":"Exchange MIC identifier (e.g., `XNAS`).","schema":{"type":"string"}},"DatePath":{"name":"date","in":"path","required":true,"description":"Specific date for EOD data. Format `YYYY-MM-DD`.","schema":{"type":"string","format":"date"}},"DateTimePath":{"name":"date","in":"path","required":true,"description":"Specific date for intraday data. Example `2024-09-27 15:30`.","schema":{"type":"string"}},"IndexCode":{"name":"index","in":"query","required":true,"description":"Benchmark/index identifier (e.g., `australia_all_ordinaries`).","schema":{"type":"string"}},"CountryName":{"name":"country","in":"query","required":true,"description":"Country name for bonds endpoint (e.g., `kenya`, `united%20states`).","schema":{"type":"string"}},"ETFTicker":{"name":"ticker","in":"query","required":true,"description":"ETF ticker symbol.","schema":{"type":"string"}},"ETFListType":{"name":"list","in":"query","required":true,"description":"ETF list type; currently `ticker`.","schema":{"type":"string","enum":["ticker"]}},"CIKCompanyName":{"name":"company_name","in":"query","required":true,"description":"Company name (min 3 letters) used to search CIK codes.","schema":{"type":"string"}},"CIKCode":{"name":"cik_code","in":"query","required":true,"description":"10-digit SEC Central Index Key (with leading zeros).","schema":{"type":"string"}}},"schemas":{"Pagination":{"type":"object","properties":{"limit":{"type":"integer","description":"Returns your pagination limit value."},"offset":{"type":"integer","description":"Returns your pagination offset value."},"count":{"type":"integer","description":"Returns the results count on the current page."},"total":{"type":"integer","description":"Returns the total count of results available."}}},"EODBar":{"type":"object","description":"End-of-day bar data for a single symbol and date.","properties":{"open":{"type":"number","format":"float","description":"Opening price for the trading session."},"high":{"type":"number","format":"float","description":"Highest price of the session."},"low":{"type":"number","format":"float","description":"Lowest price of the session."},"close":{"type":"number","format":"float","description":"Closing price of the session."},"volume":{"type":"number","format":"float","description":"Traded volume during the session."},"adj_high":{"type":"number","format":"float","description":"High price adjusted for corporate actions."},"adj_low":{"type":"number","format":"float","description":"Low price adjusted for corporate actions."},"adj_close":{"type":"number","format":"float","description":"Close price adjusted for corporate actions."},"adj_open":{"type":"number","format":"float","description":"Open price adjusted for corporate actions."},"adj_volume":{"type":"number","format":"float","description":"Volume adjusted for corporate actions."},"split_factor":{"type":"number","format":"float","description":"Cumulative stock split factor applied for the date."},"dividend":{"type":"number","format":"float","description":"Dividend amount per share for the date."},"name":{"type":"string","description":"Company name."},"exchange_code":{"type":"string","description":"Human-friendly exchange code (for example NASDAQ)."},"asset_type":{"type":"string","description":"Asset class"},"price_currency":{"type":"string","description":"Price currency (ISO code in lower case)."},"symbol":{"type":"string","description":"Ticker symbol."},"exchange":{"type":"string","description":"MIC of the exchange."},"date":{"type":"string","description":"Timestamp of the bar in ISO8601 with timezone."}}},"IntradayBar":{"allOf":[{"$ref":"#/components/schemas/EODBar"}],"description":"Intraday bar data; fields identical to EOD with intraday timestamp."},"EODResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/EODBar"}}}},"IntradayResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/IntradayBar"}}}},"CommodityResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"commodity_name":{"type":"string","description":"Name of the commodity."},"commodity_unit":{"type":"string","description":"Unit of the commodity."},"commodity_price":{"type":"string","description":"Current price of the commodity."},"price_change_day":{"type":"string","description":"Absolute day change."},"percentage_day":{"type":"string","description":"Day change in percent."},"percentage_week":{"type":"string","description":"Week change in percent."},"percentage_month":{"type":"string","description":"Month change in percent."},"percentage_year":{"type":"string","description":"Year change in percent."},"quarter1_25":{"type":"string","description":"Value for the first quarter of 2025."},"quarter2_25":{"type":"string","description":"Value for the second quarter of 2025."},"quarter3_25":{"type":"string","description":"Value for the third quarter of 2025."},"quarter4_25":{"type":"string","description":"Value for the fourth quarter of 2025."},"datetime":{"type":"string","format":"date-time","description":"Timestamp of the commodity price in ISO8601 format."}}}}}},"CommodityHistoricalResponse":{"type":"object","properties":{"result":{"type":"object","properties":{"basics":{"type":"object","properties":{"frequency":{"type":"string","description":"Frequency of the historical data (e.g., 1day, 1month)"}}},"data":{"type":"array","items":{"type":"object","properties":{"commodity_name":{"type":"string","description":"Name of the commodity."},"commodity_unit":{"type":"string","description":"Unit of the commodity."},"commodity_prices":{"type":"array","items":{"type":"object","properties":{"commodity_price":{"type":"string","description":"Price of the commodity for the date."},"date":{"type":"string","description":"Date for the price (YYYY-MM-DD or YYYY-MM for monthly)."}}}}}}}}}}},"CompanyRatingsResponse":{"type":"object","properties":{"status":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code."},"message":{"type":"string","description":"Status message."},"details":{"type":"string","description":"Additional details."}}},"result":{"type":"object","properties":{"basics":{"type":"object","properties":{"company_name":{"type":"string","description":"Name of the company."},"ticker":{"type":"string","description":"Ticker symbol."}}},"output":{"type":"object","properties":{"analyst_consensus":{"type":"object","properties":{"consensus_conclusion":{"type":"string","description":"Consensus conclusion."},"stock_price":{"type":"string","description":"Current stock price."},"analyst_average":{"type":"string","description":"Analyst average price target."},"analyst_highest":{"type":"string","description":"Highest analyst price target."},"analyst_lowest":{"type":"string","description":"Lowest analyst price target."},"analysts_number":{"type":"string","description":"Number of analysts."},"buy":{"type":"string","description":"Number of buy ratings."},"hold":{"type":"string","description":"Number of hold ratings."},"sell":{"type":"string","description":"Number of sell ratings."},"consensus_date":{"type":"string","description":"Date of consensus (YYYY-MM-DD)."}}},"analysts":{"type":"array","items":{"type":"object","properties":{"analyst_name":{"type":"string","description":"Name of the analyst."},"analyst_firm":{"type":"string","description":"Analyst's firm."},"analyst_role":{"type":"string","description":"Role of the analyst."},"rating":{"type":"object","properties":{"date_rating":{"type":"string","description":"Date of the rating (YYYY-MM-DD)."},"target_date":{"type":"string","description":"Target date for the rating (YYYY-MM-DD)."},"price_target":{"type":"string","description":"Analyst's price target."},"rated":{"type":"string","description":"Analyst's rating (Buy/Sell/Hold)."},"conclusion":{"type":"string","description":"Analyst's conclusion (e.g.,"}}}}}}}}}}}},"SplitItem":{"type":"object","properties":{"symbol":{"type":"string","description":"Ticker symbol the split applies to."},"date":{"type":"string","description":"Date of the split."},"split_factor":{"type":"number","format":"float","description":"Split ratio applied on the date."}}},"SplitsResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SplitItem"}}}},"DividendItem":{"type":"object","properties":{"symbol":{"type":"string","description":"Ticker symbol the dividend applies to."},"date":{"type":"string","description":"Ex-dividend date."},"dividend":{"type":"number","format":"float","description":"Dividend amount per share."}}},"DividendsResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/DividendItem"}}}},"TickerExchange":{"type":"object","properties":{"name":{"type":"string","description":"Exchange name."},"acronym":{"type":"string","description":"Exchange acronym."},"mic":{"type":"string","description":"MIC identification of the exchange."},"country":{"type":"string","nullable":true,"description":"Exchange country."},"country_code":{"type":"string","description":"Three-letter country code."},"city":{"type":"string","description":"Exchange city."},"website":{"type":"string","description":"Exchange website URL."}}},"Ticker":{"type":"object","properties":{"name":{"type":"string","description":"Company or instrument name."},"symbol":{"type":"string","description":"Ticker symbol."},"has_intraday":{"type":"boolean","description":"Indicates if intraday data is available."},"has_eod":{"type":"boolean","description":"Indicates if end-of-day data is available."},"country":{"type":"string","nullable":true,"description":"Country of the ticker."},"stock_exchanges":{"type":"array","description":"List of exchanges the ticker is listed on.","items":{"$ref":"#/components/schemas/TickerExchange"}}}},"TickerResponse":{"type":"object","properties":{"name":{"type":"string","description":"Company or instrument name."},"symbol":{"type":"string","description":"Ticker symbol."},"cik":{"type":"string","description":"SEC Central Index Key."},"isin":{"type":"string","description":"International Securities Identification Number."},"cusip":{"type":"string","description":"U.S./Canada security identifier (CUSIP)."},"ein_employer_id":{"type":"string","description":"Employer Identification Number."},"lei":{"type":"string","description":"Legal Entity Identifier."},"series_id":{"type":"string","description":"Series ID."},"item_type":{"type":"string","description":"Type of item (e.g., equity)."},"sector":{"type":"string","description":"Sector of the company."},"industry":{"type":"string","description":"Industry of the company."},"sic_code":{"type":"string","description":"Standard Industrial Classification code."},"sic_name":{"type":"string","description":"SIC description."},"stock_exchange":{"type":"object","properties":{"name":{"type":"string","description":"Exchange name."},"acronym":{"type":"string","description":"Exchange acronym."},"mic":{"type":"string","description":"MIC identification of the exchange."},"country":{"type":"string","nullable":true,"description":"Exchange country."},"country_code":{"type":"string","description":"Three-letter country code."},"city":{"type":"string","description":"Exchange city."},"website":{"type":"string","description":"Exchange website URL."},"operating_mic":{"type":"string","description":"Operating Market Identifier Code."},"oprt_sgmt":{"type":"string","description":"Indicates operating MIC vs market segment MIC."},"legal_entity_name":{"type":"string","description":"Legal entity name."},"exchange_lei":{"type":"string","description":"Exchange Legal Entity Identifier (LEI)."},"market_category_code":{"type":"string","description":"Market category code."},"exchange_status":{"type":"string","description":"Current status of the exchange."},"date_creation":{"type":"object","properties":{"date":{"type":"string","description":"Creation date."},"timezone_type":{"type":"integer","description":"Timezone type."},"timezone":{"type":"string","description":"Timezone offset."}}},"date_last_update":{"type":"object","properties":{"date":{"type":"string","description":"Last update date."},"timezone_type":{"type":"integer","description":"Timezone type."},"timezone":{"type":"string","description":"Timezone offset."}}},"date_last_validation":{"type":"object","properties":{"date":{"type":"string","description":"Last validation date."},"timezone_type":{"type":"integer","description":"Timezone type."},"timezone":{"type":"string","description":"Timezone offset."}}},"date_expiry":{"type":"string","description":"Expiry date."},"comments":{"type":"string","description":"Additional comments."}}}}},"TickerEodResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"object","properties":{"name":{"type":"string","description":"Company or instrument name."},"symbol":{"type":"string","description":"Ticker symbol."},"has_intraday":{"type":"boolean","description":"Indicates if intraday data is available."},"has_eod":{"type":"boolean","description":"Indicates if end-of-day data is available."},"country":{"type":"string","description":"Country of the ticker."},"eod":{"type":"array","items":{"$ref":"#/components/schemas/EODBar"}}}}}},"TickerSplitsResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","description":"Date of the split."},"split_factor":{"type":"number","description":"Split ratio applied on the date."},"stock_split":{"type":"string","description":"Additional stock split info (nullable)."},"symbol":{"type":"string","description":"Ticker symbol the split"}}}}}},"TickerDividendsResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","description":"Ex-dividend date."},"dividend":{"type":"number","format":"float","description":"Dividend amount per share."},"payment_date":{"type":"string","description":"Payment date of the dividend."},"record_date":{"type":"string","description":"Record date for the dividend."},"declaration_date":{"type":"string","description":"Declaration date for the dividend."},"distr_freq":{"type":"string","description":"Distribution frequency (e.g., q for quarterly)."},"symbol":{"type":"string","description":"Ticker symbol the dividend"}}}}}},"TickerIntradayResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"object","properties":{"name":{"type":"string","description":"Company or instrument name."},"symbol":{"type":"string","description":"Ticker symbol."},"has_intraday":{"type":"boolean","description":"Indicates if intraday data is available."},"has_eod":{"type":"boolean","description":"Indicates if end-of-day data is available."},"country":{"type":"string","description":"Country of the ticker."},"intraday":{"type":"array","items":{"type":"object","properties":{"open":{"type":"number","format":"float","description":"Opening price for the bar."},"high":{"type":"number","format":"float","description":"Highest price for the bar."},"low":{"type":"number","format":"float","description":"Lowest price for the bar."},"mid":{"type":"number","format":"float","description":"Mid price for the bar."},"last_size":{"type":"number","format":"float","description":"Last trade size."},"bid_size":{"type":"number","format":"float","description":"Bid size."},"bid_price":{"type":"number","format":"float","description":"Bid price."},"ask_price":{"type":"number","format":"float","description":"Ask price."},"ask_size":{"type":"number","format":"float","description":"Ask size."},"last":{"type":"number","format":"float","description":"Last trade price."},"close":{"type":"number","format":"float","description":"Closing price for the bar."},"volume":{"type":"number","format":"float","description":"Traded volume during the bar."},"marketstack_last":{"type":"number","format":"float","description":"Marketstack last price."},"date":{"type":"string","description":"Timestamp of the bar in ISO8601 with timezone."},"symbol":{"type":"string","description":"Ticker symbol."},"exchange":{"type":"string","description":"Exchange code."}}}}}}}},"TickerIntradayDateResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"type":"object","properties":{"open":{"type":"number","format":"float","description":"Opening price for the bar."},"high":{"type":"number","format":"float","description":"Highest price for the bar."},"low":{"type":"number","format":"float","description":"Lowest price for the bar."},"mid":{"type":"number","format":"float","description":"Mid price for the bar."},"last_size":{"type":"number","format":"float","description":"Last trade size."},"bid_size":{"type":"number","format":"float","description":"Bid size."},"bid_price":{"type":"number","format":"float","description":"Bid price."},"ask_price":{"type":"number","format":"float","description":"Ask price."},"ask_size":{"type":"number","format":"float","description":"Ask size."},"last":{"type":"number","format":"float","description":"Last trade price."},"close":{"type":"number","format":"float","description":"Closing price for the bar."},"volume":{"type":"number","format":"float","description":"Traded volume during the bar."},"marketstack_last":{"type":"number","format":"float","description":"Marketstack last price."},"date":{"type":"string","description":"Timestamp of the bar in ISO8601 with timezone."},"symbol":{"type":"string","description":"Ticker symbol."},"exchange":{"type":"string","description":"Exchange code."}}}}}},"TickerIntradayLatestResponse":{"type":"object","properties":{"open":{"type":"number","format":"float","description":"Opening price for the bar."},"high":{"type":"number","format":"float","description":"Highest price for the bar."},"low":{"type":"number","format":"float","description":"Lowest price for the bar."},"mid":{"type":"number","format":"float","description":"Mid price for the bar."},"last_size":{"type":"number","format":"float","description":"Last trade size."},"bid_size":{"type":"number","format":"float","description":"Bid size."},"bid_price":{"type":"number","format":"float","description":"Bid price."},"ask_price":{"type":"number","format":"float","description":"Ask price."},"ask_size":{"type":"number","format":"float","description":"Ask size."},"last":{"type":"number","format":"float","description":"Last trade price."},"close":{"type":"number","format":"float","description":"Closing price for the bar."},"volume":{"type":"number","format":"float","description":"Traded volume during the bar."},"marketstack_last":{"type":"number","format":"float","description":"Marketstack last price."},"date":{"type":"string","description":"Timestamp of the bar in ISO8601 with timezone."},"symbol":{"type":"string","description":"Ticker symbol."},"exchange":{"type":"string","description":"Exchange code."}}},"TickersListResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Company or instrument name."},"ticker":{"type":"string","description":"Ticker symbol."},"has_intraday":{"type":"boolean","description":"Indicates if intraday data is available."},"has_eod":{"type":"boolean","description":"Indicates if end-of-day data is available."},"stock_exchange":{"type":"object","properties":{"name":{"type":"string","description":"Exchange name."},"acronym":{"type":"string","description":"Exchange acronym."},"mic":{"type":"string","description":"MIC identification of the exchange."}}}}}}}},"TickerInfoResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"name":{"type":"string","description":"Company or instrument name."},"ticker":{"type":"string","description":"Ticker symbol."},"item_type":{"type":"string","description":"Type of item (e.g., equity)."},"sector":{"type":"string","description":"Sector of the company."},"industry":{"type":"string","description":"Industry of the company."},"exchange_code":{"type":"string","description":"Exchange code."},"full_time_employees":{"type":"string","description":"Number of full-time employees."},"ipo_date":{"type":"string","description":"IPO date."},"date_founded":{"type":"string","description":"Date founded."},"key_executives":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Executive name."},"salary":{"type":"string","description":"Executive salary."},"function":{"type":"string","description":"Executive function/role."},"exercised":{"type":"string","description":"Exercised options/shares."},"birth_year":{"type":"string","description":"Birth year."}}}},"incorporation":{"type":"string","description":"State or country of incorporation."},"incorporation_description":{"type":"string","description":"Description of incorporation."},"start_fiscal":{"type":"string","description":"Start of fiscal year."},"end_fiscal":{"type":"string","description":"End of fiscal year."},"reporting_currency":{"type":"string","description":"Reporting currency."},"address":{"type":"object","properties":{"city":{"type":"string","description":"City."},"street1":{"type":"string","description":"Street address line 1."},"street2":{"type":"string","description":"Street address line 2."},"postal_code":{"type":"string","description":"Postal code."},"stateOrCountry":{"type":"string","description":"State or country code."},"state_or_country_description":{"type":"string","description":"State or country description."}}},"post_address":{"type":"object","properties":{"city":{"type":"string","description":"City."},"street1":{"type":"string","description":"Street address line 1."},"street2":{"type":"string","description":"Street address line 2."},"postal_code":{"type":"string","description":"Postal code."},"stateOrCountry":{"type":"string","description":"State or country code."},"state_or_country_description":{"type":"string","description":"State or country description."}}},"phone":{"type":"string","description":"Company phone number."},"website":{"type":"string","description":"Company website."},"previous_names":{"type":"array","items":{"type":"string"},"description":"Previous company names."},"about":{"type":"string","description":"Company description."},"mission":{"type":"string","description":"Company mission statement."},"vision":{"type":"string","description":"Company vision statement."},"stock_exchanges":{"type":"array","items":{"type":"object","properties":{"city":{"type":"string","description":"Exchange city."},"country":{"type":"string","description":"Exchange country."},"website":{"type":"string","description":"Exchange website."},"acronym1":{"type":"string","description":"Exchange acronym."},"alpha2_code":{"type":"string","description":"Country code."},"exchange_mic":{"type":"string","description":"Exchange MIC."},"exchange_name":{"type":"string","description":"Exchange name."}}}}}}}},"Exchange":{"type":"object","properties":{"name":{"type":"string","description":"Name of the stock exchange."},"acronym":{"type":"string","description":"Acronym of the stock exchange."},"mic":{"type":"string","description":"MIC identification of the exchange."},"country":{"type":"string","nullable":true,"description":"Country of the stock exchange."},"country_code":{"type":"string","description":"Three-letter country code of the exchange."},"city":{"type":"string","description":"City where the exchange is located."},"website":{"type":"string","description":"Website URL of the exchange."},"operating_mic":{"type":"string","description":"Operating Market Identifier Code."},"oprt_sgmt":{"type":"string","description":"Indicates operating MIC vs market segment MIC."},"legal_entity_name":{"type":"string","description":"Legal entity name."},"exchange_lei":{"type":"string","description":"Exchange Legal Entity Identifier (LEI)."},"market_category_code":{"type":"string","description":"Market category code."},"exchange_status":{"type":"string","description":"Current status of the exchange."},"date_creation":{"type":"string","description":"Creation date."},"date_last_update":{"type":"string","description":"Last update date."},"date_last_validation":{"type":"string","description":"Last validation date."},"date_expiry":{"type":"string","description":"Expiry date."},"comments":{"type":"string","description":"Additional comments."}}},"ExchangesResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Exchange"}}}},"ExchangeMicTickersResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"object","properties":{"name":{"type":"string","description":"Exchange name."},"acronym":{"type":"string","description":"Exchange acronym."},"mic":{"type":"string","description":"MIC identification of the exchange."},"country":{"type":"string","description":"Country of the exchange."},"city":{"type":"string","description":"Exchange city."},"website":{"type":"string","description":"Exchange website URL."},"operating_mic":{"type":"string","description":"Operating Market Identifier Code."},"oprt_sgmt":{"type":"string","description":"Indicates operating MIC vs market segment MIC."},"legal_entity_name":{"type":"string","description":"Legal entity name."},"exchange_lei":{"type":"string","description":"Exchange Legal Entity Identifier (LEI)."},"market_category_code":{"type":"string","description":"Market category code."},"exchange_status":{"type":"string","description":"Current status of the exchange."},"date_creation":{"type":"string","description":"Creation date (YYYY-MM-DD)."},"date_last_update":{"type":"string","description":"Last update date (YYYY-MM-DD)."},"date_last_validation":{"type":"string","description":"Last validation date (nullable)."},"date_expiry":{"type":"string","description":"Expiry date (nullable)."},"comments":{"type":"string","description":"Additional comments."},"tickers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Company or instrument name."},"symbol":{"type":"string","description":"Ticker symbol."},"has_intraday":{"type":"boolean","description":"Indicates if intraday data is available."},"has_eod":{"type":"boolean","description":"Indicates if end-of-day data is available."}}}}}}}},"ExchangesMicEod":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"object","properties":{"name":{"type":"string","description":"Exchange name."},"acronym":{"type":"string","description":"Exchange acronym."},"mic":{"type":"string","description":"MIC identification of the exchange."},"country":{"type":"string","description":"Country of the exchange."},"city":{"type":"string","description":"Exchange city."},"website":{"type":"string","description":"Exchange website URL."},"operating_mic":{"type":"string","description":"Operating Market Identifier Code."},"oprt_sgmt":{"type":"string","description":"Indicates operating MIC vs market segment MIC."},"legal_entity_name":{"type":"string","description":"Legal entity name."},"exchange_lei":{"type":"string","description":"Exchange Legal Entity Identifier (LEI)."},"market_category_code":{"type":"string","description":"Market category code."},"exchange_status":{"type":"string","description":"Current status of the exchange."},"date_creation":{"type":"string","description":"Creation date (YYYY-MM-DD)."},"date_last_update":{"type":"string","description":"Last update date (YYYY-MM-DD)."},"date_last_validation":{"type":"string","description":"Last validation date (nullable)."},"date_expiry":{"type":"string","description":"Expiry date (nullable)."},"comments":{"type":"string","description":"Additional comments."},"eod":{"type":"array","items":{"$ref":"#/components/schemas/EODBar"}}}}}},"Currency":{"type":"object","properties":{"code":{"type":"string","description":"Three-letter currency code."},"name":{"type":"string","description":"Currency name."},"symbol":{"type":"string","description":"Currency symbol."},"symbol_native":{"type":"string","description":"Native currency symbol."}}},"CurrenciesResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Currency"}}}},"Timezone":{"type":"object","properties":{"timezone":{"type":"string","description":"IANA timezone name."},"abbr":{"type":"string","description":"Standard time abbreviation."},"abbr_dst":{"type":"string","description":"Daylight saving time abbreviation."}}},"TimezonesResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Timezone"}}}},"IndexListItem":{"type":"object","properties":{"benchmark":{"type":"string","description":"Benchmark code of the market index."}}},"IndexListResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/IndexListItem"}}}},"IndexInfoItem":{"type":"object","properties":{"benchmark":{"type":"string","description":"Benchmark name of the market index."},"region":{"type":"string","description":"Region of the index."},"country":{"type":"string","description":"Country of the index."},"price":{"type":"string","description":"Current index price."},"price_change_day":{"type":"string","description":"Absolute day change."},"percentage_day":{"type":"string","description":"Day change in percent."},"percentage_week":{"type":"string","description":"Week change in percent."},"percentage_month":{"type":"string","description":"Month change in percent."},"percentage_year":{"type":"string","description":"Year change in percent."},"date":{"type":"string","description":"Date of the quote."}}},"IndexInfoResponse":{"type":"array","items":{"$ref":"#/components/schemas/IndexInfoItem"}},"BondListItem":{"type":"object","properties":{"country":{"type":"string","description":"Country supported for bonds."}}},"BondListResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BondListItem"}}}},"BondInfoItem":{"type":"object","properties":{"region":{"type":"string","description":"Region where the bond is supported."},"country":{"type":"string","description":"Country where the bond is supported."},"type":{"type":"string","description":"Bond tenor/type (for example 10Y)."},"yield":{"type":"string","description":"Current bond yield."},"price_change_day":{"type":"string","description":"Price change day-over-day."},"percentage_week":{"type":"string","description":"Weekly change percentage."},"percentage_month":{"type":"string","description":"Monthly change percentage."},"percentage_year":{"type":"string","description":"Yearly change percentage."},"date":{"type":"string","description":"Quote date."}}},"BondInfoResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BondInfoItem"}}}},"StockPriceItem":{"type":"object","properties":{"exchange_code":{"type":"string","description":"Exchange code."},"exchange_name":{"type":"string","description":"Exchange name."},"country":{"type":"string","description":"Exchange country."},"ticker":{"type":"string","description":"Ticker symbol."},"price":{"type":"string","description":"Last known price."},"currency":{"type":"string","description":"Trading currency."},"trade_last":{"type":"string","description":"Timestamp of the last known trade."}}},"StockPriceResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/StockPriceItem"}}}},"ETFListItem":{"type":"object","properties":{"ticker":{"type":"string","description":"ETF ticker symbol."}}},"ETFListResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ETFListItem"}}}},"ETFAttributes":{"type":"object","properties":{"series_name":{"type":"string","description":"Name of the ETF series held by the fund."},"series_id":{"type":"string","description":"ID of the ETF held by the fund."},"series_lei":{"type":"string","description":"Legal Entity Identifier of the ETF series."},"ticker":{"type":"string","description":"ETF ticker."},"isin":{"type":"string","description":"International Securities Identification Number."},"date_report_period":{"type":"string","description":"Start date of the report period."},"end_report_period":{"type":"string","description":"End date of the report period."},"final_filing":{"type":"boolean","description":"Indicates whether this is the final filing."}}},"ETFSignature":{"type":"object","properties":{"date_signed":{"type":"string","description":"Signature date."},"name_of_applicant":{"type":"string","description":"Name of the applicant."},"signature":{"type":"string","description":"Signature text."},"signer_name":{"type":"string","description":"Name of the signer."},"title":{"type":"string","description":"Signer's title."}}},"ETFHoldingSecurity":{"type":"object","properties":{"lei":{"type":"string","description":"Legal Entity Identifier."},"isin":{"type":"string","description":"International Securities Identification Number."},"name":{"type":"string","description":"Holding name."},"cusip":{"type":"string","description":"U.S./Canada security identifier (CUSIP)."},"title":{"type":"string","description":"Holding title."},"units":{"type":"string","description":"Unit type."},"balance":{"type":"string","description":"Holding balance."},"currency":{"type":"string","description":"Currency code."},"value_usd":{"type":"string","description":"Holding value in USD."},"loan_by_fund":{"type":"string","description":"Whether the holding is loaned by the fund."},"percent_value":{"type":"string","description":"Portfolio percentage weight."},"asset_category":{"type":"string","description":"Asset category."},"payoff_profile":{"type":"string","description":"Payoff profile."},"restricted_sec":{"type":"string","description":"Restricted security flag."},"cash_collateral":{"type":"string","description":"Cash collateral flag."},"issuer_category":{"type":"string","description":"Issuer category."},"fair_value_level":{"type":"string","description":"Fair value level."},"invested_country":{"type":"string","description":"Invested country code."},"non_cash_collateral":{"type":"string","description":"Non-cash collateral flag."}}},"ETFHoldingsResponse":{"type":"object","properties":{"basics":{"type":"object","properties":{"fund_name":{"type":"string","description":"Fund name."},"file_number":{"type":"string","description":"SEC file number."},"cik":{"type":"string","description":"SEC CIK of the main trust fund."},"reg_lei":{"type":"string","description":"Legal Entity Identifier of the fund."}}},"output":{"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/ETFAttributes"},"signature":{"$ref":"#/components/schemas/ETFSignature"},"holdings":{"type":"array","items":{"type":"object","properties":{"investment_security":{"$ref":"#/components/schemas/ETFHoldingSecurity"}}}}}}}},"CIKItem":{"type":"object","properties":{"cik_code":{"type":"string","description":"Company CIK code."},"company_name":{"type":"string","description":"Company name."},"ein":{"type":"string","description":"Employer Identification Number."},"sic":{"type":"string","description":"Standard Industrial Classification."},"sic_description":{"type":"string","description":"SIC description."}}},"CIKSearchResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CIKItem"}}}},"CompanyNameByCIKResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"cik_code":{"type":"string","description":"Company CIK code."},"company_name":{"type":"string","description":"Company name."},"ein":{"type":"string","description":"Employer Identification Number."},"sic":{"type":"string","description":"Standard Industrial Classification."},"sic_description":{"type":"string","description":"SIC description."},"phone":{"type":"string","description":"Company registered phone."},"Incorporationstate":{"type":"string","description":"Abbreviation of the incorporation state."}}}},"addresses":{"type":"object","properties":{"mailing":{"type":"object","properties":{"street1":{"type":"string","description":"Mailing address line 1."},"street2":{"type":"string","description":"Mailing address line 2."},"city":{"type":"string","description":"Mailing city."},"state_or_country":{"type":"string","description":"Mailing state or country."},"zipCode":{"type":"string","description":"Mailing postal code."}}},"business":{"type":"object","properties":{"street1":{"type":"string","description":"Business address line 1."},"street2":{"type":"string","description":"Business address line 2."},"city":{"type":"string","description":"Business city."},"state_or_country":{"type":"string","description":"Business state or country."},"zipCode":{"type":"string","description":"Business postal code."}}}}}}},"SubmissionsByCIKResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"cik":{"type":"string","description":"SEC Central Index Key."},"entity_type":{"type":"string","description":"Entity type (e.g. operating)."},"sic":{"type":"string","description":"Standard Industrial Classification."},"sic_description":{"type":"string","description":"SIC description."},"owner_org":{"type":"string","description":"Owner organization."},"insider_Transaction_For_Owner_Exists":{"type":"integer","description":"Insider transaction for owner exists (1 or 0)."},"insider_Transaction_For_Issuer_Exists":{"type":"integer","description":"Insider transaction for issuer exists (1 or 0)."},"name":{"type":"string","description":"Company name."},"tickers":{"type":"array","items":{"type":"string"},"description":"List of ticker symbols."},"exchanges":{"type":"array","items":{"type":"string"},"description":"List of exchanges."},"ein":{"type":"string","description":"Employer Identification Number."},"description":{"type":"string","description":"Company description."},"website":{"type":"string","description":"Company website."},"investor_Website":{"type":"string","description":"Investor relations website."},"category_filer":{"type":"string","description":"Filer category."},"fiscal_Year_End":{"type":"string","description":"Fiscal year end (MMDD)."},"incorporation_state_or_country":{"type":"string","description":"State or country of incorporation."},"incorporation_state_or_country_desc":{"type":"string","description":"Description of incorporation state or country."},"addresses":{"type":"object","properties":{"mailing":{"type":"object","properties":{"street1":{"type":"string","description":"Mailing address line 1."},"street2":{"type":"string","description":"Mailing address line 2."},"city":{"type":"string","description":"Mailing city."},"state_or_country":{"type":"string","description":"Mailing state or country."},"zip_Code":{"type":"string","description":"Mailing postal code."},"state_or_country_desc":{"type":"string","description":"Mailing state or country description."}}},"business":{"type":"object","properties":{"street1":{"type":"string","description":"Business address line 1."},"street2":{"type":"string","description":"Business address line 2."},"city":{"type":"string","description":"Business city."},"state_or_country":{"type":"string","description":"Business state or country."},"zipCode":{"type":"string","description":"Business postal code."},"state_or_country_desc":{"type":"string","description":"Business state or country description."}}}}},"phone":{"type":"string","description":"Company phone number."},"former_Names":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Former company name."},"from":{"type":"string","description":"Start date of former name (ISO8601)."},"to":{"type":"string","description":"End date of former name (ISO8601)."}}}},"filings":{"type":"object","properties":{"recent":{"type":"object","properties":{"accession_Number":{"type":"array","items":{"type":"string"},"description":"List of accession numbers."},"filing_Date":{"type":"array","items":{"type":"string"},"description":"List of filing dates."},"report_Date":{"type":"array","items":{"type":"string"},"description":"List of report dates."},"acceptance_Date_Time":{"type":"array","items":{"type":"string"},"description":"List of acceptance date-times."},"act":{"type":"array","items":{"type":"string"},"description":"List of acts."},"form":{"type":"array","items":{"type":"string"},"description":"List of forms."},"file_Number":{"type":"array","items":{"type":"string"},"description":"List of file numbers."},"film_Number":{"type":"array","items":{"type":"string"},"description":"List of film numbers."},"core_type":{"type":"array","items":{"type":"string"},"description":"List of core types."},"size":{"type":"array","items":{"type":"integer"},"description":"List of filing sizes."},"primary_Document":{"type":"array","items":{"type":"string"},"description":"List of primary document names."},"primary_Doc_Description":{"type":"array","items":{"type":"string"},"description":"List of primary document descriptions."}}},"files":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"File name."},"filing_Count":{"type":"integer","description":"Number of filings in the file."},"filing_From":{"type":"string","description":"Earliest filing date in the file."},"filing_To":{"type":"string","description":"Latest filing date in the file."}}}}}}}}}},"CompanyFactsByCIKResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"cik":{"type":"integer","description":"SEC Central Index Key."},"company_name":{"type":"string","description":"Company name."},"facts":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"label":{"type":"string","description":"Fact label."},"description":{"type":"string","description":"Fact description."},"units":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"end":{"type":"string","description":"End date (YYYY-MM-DD)."},"val":{"type":"number","description":"Value."},"accn":{"type":"string","description":"Accession number."},"fy":{"type":"integer","description":"Fiscal year."},"fp":{"type":"string","description":"Fiscal period."},"form":{"type":"string","description":"Filing form."},"filed":{"type":"string","description":"Filing date (YYYY-MM-DD)."},"frame":{"type":"string","description":"Data frame."}}}}}}}}}}}}},"AccountsPayableResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"cik":{"type":"integer","description":"SEC Central Index Key."},"company_name":{"type":"string","description":"Company name."},"us-gaap":{"type":"object","properties":{"AccountsPayableCurrent":{"type":"object","properties":{"label":{"type":"string","description":"Concept label."},"description":{"type":"string","description":"Concept description."},"units":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"fp":{"type":"string","description":"Fiscal period."},"fy":{"type":"integer","description":"Fiscal year."},"end":{"type":"string","description":"End date (YYYY-MM-DD)."},"val":{"type":"number","description":"Value."},"accn":{"type":"string","description":"Accession number."},"form":{"type":"string","description":"Filing form."},"filed":{"type":"string","description":"Filing date (YYYY-MM-DD)."}}}}}}}}}}}}},"FrameResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"object","properties":{"taxonomy":{"type":"string","description":"Taxonomy (e.g., us-gaap)."},"tag":{"type":"string","description":"Tag name (e.g., AccountsPayableCurrent)."},"ccp":{"type":"string","description":"Calendar period code (e.g., CY2023Q1I)."},"uom":{"type":"string","description":"Unit of measure (e.g., USD)."},"label":{"type":"string","description":"Concept label."},"description":{"type":"string","description":"Concept description."},"frame_data":{"type":"array","items":{"type":"object","properties":{"accn":{"type":"string","description":"Accession number."},"cik":{"type":"integer","description":"SEC Central Index Key."},"entityName":{"type":"string","description":"Entity name."},"end":{"type":"string","description":"End date (YYYY-MM-DD)."},"val":{"type":"number","description":"Value."}}}}}}}}}},"paths":{"/eod":{"get":{"tags":["End-of-day"],"summary":"EOD Data","description":"You can use the API's `eod` endpoint in order to obtain end-of-day data for one or multiple stock tickers. A single or multiple comma-separated ticker symbols are passed to the API using the `symbols` parameter.\n\n\n**Note:**\n\n* *The EOD data has access to over 500,000 tickers from more major world-known exchanges. The full list of supported tickers and exchanges can be seen here:* [**Download**](https://marketstack.com/download/v2_eod_tickers_finnworlds_tiingo.xlsx)\n\n* *A daily updated list of all tickers accessible via Marketstack is available for download:* [**Download Ticker List**](https://marketstack.com/download/supported_tickers_2.csv)\n\n* *The V2 EOD endpoint supports data from **30+ stock exchanges**, including **NASDAQ,** **PINK, SHG, NYSE, NYSE ARCA, OTCQB,** and **BATS***\n\n* *To retrieve end-of-day data for individual tickers, you can also use the Tickers Endpoint.*\n\n* ***Ticker Symbol Formatting:** When querying ticker symbols that include a period (.), replace the period with a hyphen (-) in the intraday endpoint. **Example:BRK.B → BRK-B***\n* *The **LSE’s/XLON** official currency is **GBP**, however many stocks can be and are quoted in **pence (GBX)** by convention. It improves readability and pricing precision. If **LSE** equity price looks “too big” → it’s probably **pence**. Convert using **GBP = GBX / 100***\n\n**Adjusted Prices:**\n“**Adjusted**” prices represent stock values that have been modified to accurately reflect the impact of corporate actions such as splits and dividends. These adjustments are applied following the CRSP Calculations methodology established by the **Center for Research in Security Prices (CRSP).**","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"EOD data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EODResponse"}}}}}}},"/eod/latest":{"get":{"tags":["End-of-day"],"summary":"EOD Latest Data","description":"Returns the most recent end-of-day data point for the requested symbols.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Latest EOD data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EODResponse"}}}}}}},"/eod/{date}":{"get":{"tags":["End-of-day"],"summary":"EOD Data for a Specific Date","description":"Specify a date in `YYYY-MM-DD` format. You can also specify an exact time in ISO-8601 date format. For example, `2020-05-21T00:00:00+0000`. Example, `/eod/2020-01-01`","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/DatePath"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"}],"responses":{"200":{"description":"EOD data for the date retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EODResponse"}}}}}}},"/intraday":{"get":{"tags":["Intraday"],"summary":"Intraday Data","description":"In additional to daily end-of-day stock prices, the Marketstack API also supports intraday data with data intervals as short as one minute. Intraday prices are available for all US stock tickers included in the IEX (Investors Exchange) stock exchange.\n\nTo access intraday market data, use the API’s Intraday Endpoint and specify your desired stock ticker symbols.\n\n**Notes:**\n\n* *A daily updated list of all tickers accessible via Marketstack is available for download:[**Download Ticker List**](https://marketstack.com/download/supported_tickers_2.csv)*\n\n* *You can also request intraday data for **individual ticker symbols** using the **Tickers Endpoint.***\n\n* ***Ticker Symbol Formatting:** When querying ticker symbols that include a period (.), replace the period with a hyphen (-) when using the Intraday Endpoint. **Example:** BRK.B → BRK-B*\n\n**IMPORTANT NOTE:** In the case of Intraday, Marketstack provides derived data that calculates a real-time reference price for each asset. While this is not a substitute for the TOPS Feed, we believe it will fulfill the needs of 95% of our customer base.\n\nWe’re doing so because as of **February 1st, 2025**, the IEX Exchange has changed its market data policies. To receive the FULL TOPS Feed, you must now have a market data agreement signed with the IEX Exchange. This means that the parameters bidPrice, bidSize, askPrice, askSize, lastPrice, lastSize, mid, and last will all return NULL in the API response for intraday since **IEX entitlement is required** for them. If you still need to have access to TOPS Feed, please contact our customer support team before signing any contract with them.\n\nFor using our derived data, there is no need to have a market data agreement signed with the IEX exchange, and there is no additional cost to the IEX Exchange.`","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/Interval"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/AfterHours"}],"responses":{"200":{"description":"Intraday data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayResponse"}}}}}}},"/intraday/latest":{"get":{"tags":["Intraday"],"summary":"Intraday Latest Data","description":"Returns the most recent intraday bar for the requested symbols.\n\n**Real-Time Updates:** Please note that data frequency intervals below 15 minutes (15min) are only supported if you are subscribed to the Professional Plan or higher.\n\nUS equity markets close at **4:00 PM EST**, with trades at or after this time considered after-hours (retrievable with `after_hours=true`), though IEX after-hours data may be sparse, and note that intraday closing prices differ from official EOD closes, which are set via an auction process [Investopedia](https://www.investopedia.com/articles/investing/091113/auction-method-how-nyse-stock-prices-are-set.asp)","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/Interval"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/AfterHours"}],"responses":{"200":{"description":"Latest intraday data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayResponse"}}}}}}},"/intraday/{date}":{"get":{"tags":["Intraday"],"summary":"Intraday Data for a Specific Date","description":"Specify a date in `YYYY-MM-DD` format. You can also specify an exact time in ISO-8601 date format. For example, `2020-05-21T00:00:00+0000`. Example, `/intraday/2020-01-01`","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/DateTimePath"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/Interval"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/AfterHours"}],"responses":{"200":{"description":"Intraday data for the date retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayResponse"}}}}}}},"/stockprice":{"get":{"tags":["Stock Prices"],"summary":"Real-time Stock Market Prices","description":"Real-time Stock Market Prices endpoint delivers instant access to live market data for stocks across major exchanges worldwide. Track intraday stock performance on `NYSE`, `NASDAQ`, `LON`, `WSE`, `EPA`, `SHE`, `NSE`, and much more.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"ticker","in":"query","required":true,"description":"Ticker for which to retrieve the stock price (e.g., `AAPL`).","schema":{"type":"string"}},{"name":"exchange","in":"query","required":false,"description":"Optional exchange filter (e.g., `NASDAQ`).","schema":{"type":"string"}}],"responses":{"200":{"description":"Real-time stock price data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StockPriceResponse"}}}}}}},"/commodities":{"get":{"tags":["Commodities"],"summary":"Commodity Prices","description":"Get commodity prices of 70+ world-known commodities of energy, metals, industrial, agricultural, and livestock areas.\n\n**Note:**\n\n* Rate limit for 1 API call per minute is enforced on this endpoint. See the full list of available commodities in the file presented here:[**Download**](https://marketstack.com/download/marketstack-commodities.xlsx)\n\n* Historical end-of-day data (`eod`) is available for up to 15 years back, while intraday data (`intraday`) always only offers the last 10,000 entries for each of the intervals available. **Example:** For a 1-minute interval, historical intraday data is available for up to 10,000 minutes back.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/CommodityName"}],"responses":{"200":{"description":"Real-time commodity prices retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommodityResponse"}}}}}}},"/commoditieshistory":{"get":{"tags":["Commodities"],"summary":"Commodities Historical Prices","description":"If you are looking for past commodity prices, you can use the Historical Commodity Prices endpoint, where you can choose specific dates and search by individual commodities. Additionally, the API offers options for daily data from the previous five years or monthly intervals using the `frequency` parameter.\n\n**Note:**\n\n* A rate limit of 1 API call per minute is enforced on this endpoint.\n\n* The recommended historical date range for a single API call is 1 year when requesting daily data. While larger ranges (up to 1.5 years) may work, retrieving data one year at a time ensures consistency.\n\n* Historical data for Commodities is available for up to 15 years in the past, though coverage varies by commodity type like **Metals:** Typically over 13 years of historical data, with some having as few as 2 years. **Energy:** Generally 15 years of coverage, though a few have up to 10 years. **Industrial:** Usually 15 years, with some limited to 10 years. **Livestock and Agricultural:** Coverage ranges from 9 to 15 years.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/CommodityName"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Frequency"}],"responses":{"200":{"description":"Historical commodity prices retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommodityHistoricalResponse"}}}}}}},"/companyratings":{"get":{"tags":["Company Ratings"],"summary":"Company Ratings","description":"The Company Rating Endpoint delivers real-time buy/sell/hold analyst ratings, updated as new reports are published. It also provides 15+ years of historical ratings and price targets to track trends and analyst performance over time.\n\n\n**Note:** Rate limit is enforced to 1 API call per minute.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Ticker"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Rated"}],"responses":{"200":{"description":"Company ratings data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyRatingsResponse"}}}}}}},"/splits":{"get":{"tags":["Splits"],"summary":"Splits Data","description":"Using the Splits Data endpoint, you will be able to look up information about the stock splits factor for different symbols.\n\n\n**Note:** The V2 Splits Endpoint provides split data for symbols listed on **NASDAQ, PINK, SHG, NYSE, NYSE ARCA, OTCQB,** and **BATS**. You can also retrieve split information for individual ticker symbols using the Tickers Endpoint.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Splits data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SplitsResponse"}}}}}}},"/dividends":{"get":{"tags":["Dividends"],"summary":"Dividends Data","description":"Using the Dividends Data endpoint, you will be able to look up information about the stock dividend for different symbols.\n\n**Note:** The **V2 Dividend Endpoint** provides dividend data for symbols listed on **NASDAQ, PINK, SHG, NYSE, NYSE ARCA, OTCQB,** and **BATS**, and dividend information for individual ticker symbols can also be retrieved using the **Tickers Endpoint**.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Dividends data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DividendsResponse"}}}}}}},"/tickers/{symbol}":{"get":{"tags":["Tickers"],"summary":"Ticker Information","description":"Using the API's Tickers endpoint you will be able to look up information about one or multiple stock ticker symbols as well as obtain end-of-day, real-time and intraday market data for single tickers.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"symbol","in":"path","required":true,"description":"Ticker symbol to look up (e.g., `AAPL`).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Ticker information retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickerResponse"}}}}}}},"/tickers/{symbol}/eod":{"get":{"tags":["Tickers"],"summary":"EOD Data for a Specific Ticker","description":"Obtain end-of-day data for a specific stock ticker by attaching `/eod` to your URL.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"symbol","in":"path","required":true,"description":"Ticker symbol to look up (e.g., `AAPL`).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Tickers eod data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickerEodResponse"}}}}}}},"/tickers/{symbol}/splits":{"get":{"tags":["Tickers"],"summary":"Splits Factor for a Specific Ticker","description":"Obtain ticker splits factor for a specific stock ticker by attaching `/splits` to your URL.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"symbol","in":"path","required":true,"description":"Ticker symbol to look up (e.g., `AAPL`).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"}],"responses":{"200":{"description":"Tickers splits factor retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickerSplitsResponse"}}}}}}},"/tickers/{symbol}/dividends":{"get":{"tags":["Tickers"],"summary":"Dividends Data for a Specific Ticker","description":"Obtain ticker dividend data for a specific stock ticker by attaching `/dividends` to your URL.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"symbol","in":"path","required":true,"description":"Ticker symbol to look up (e.g., `AAPL`).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"}],"responses":{"200":{"description":"Tickers dividends data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickerDividendsResponse"}}}}}}},"/tickers/{symbol}/intraday":{"get":{"tags":["Tickers"],"summary":"Intraday Data for a Specific Ticker","description":"Obtain real-time & intraday data for a specific stock ticker by attaching `/intraday` to your URL","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"symbol","in":"path","required":true,"description":"Ticker symbol to look up (e.g., `AAPL`).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Interval"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/AfterHours"}],"responses":{"200":{"description":"Tickers intraday data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickerIntradayResponse"}}}}}}},"/tickers/{symbol}/eod/{date}":{"get":{"tags":["Tickers"],"summary":"EOD Data for a Specific Ticker on a Specific Date","description":"Specify a date in `YYYY-MM-DD` format. You can also specify an exact time in ISO-8601 date format. For example, `2020-05-21T00:00:00+0000`. Example, `/eod/2020-01-01`.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"symbol","in":"path","required":true,"description":"Ticker symbol to look up (e.g., `AAPL`).","schema":{"type":"string"}},{"name":"date","in":"path","required":true,"description":"date to look at (e.g., `2020-01-01`).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Tickers eod data for the given date retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EODBar"}}}}}}},"/tickers/{symbol}/eod/latest":{"get":{"tags":["Tickers"],"summary":"EOD Data for the Latest Date Available for a Specific Ticker","description":"Obtain eod data for the latest date by specifying stock ticker by attaching `/eod/latest` to your URL.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"symbol","in":"path","required":true,"description":"Ticker symbol to look up (e.g., `AAPL`).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Tickers eod data for the latest date retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EODBar"}}}}}}},"/tickers/{symbol}/intraday/latest":{"get":{"tags":["Tickers"],"summary":"Intraday Data for the Latest Date Available for a Specific Ticker","description":"Obtain intraday data for the latest date by specifying stock ticker by attaching `/intraday/latest` to your URL.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"symbol","in":"path","required":true,"description":"Ticker symbol to look up (e.g., `AAPL`).","schema":{"type":"string"}},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Tickers eod data for the latest date retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickerIntradayLatestResponse"}}}}}}},"/tickerslist":{"get":{"tags":["Tickers"],"summary":"Tickers List","description":"Using the `tickerslist` endpoint you will be able to get the full list of supported tickers.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Tickers list retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickersListResponse"}}}}}}},"/tickerinfo":{"get":{"tags":["Tickers"],"summary":"Tickers Info","description":"Using the `tickerinfo` endpoint you will be able to get the full information about a ticker.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Ticker"}],"responses":{"200":{"description":"Ticker information retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TickerInfoResponse"}}}}}}},"/indexlist":{"get":{"tags":["Indexes"],"summary":"Stock Market Index Listing","description":"The Stock Market Index Listing endpoint delivers instantly real-time and historical stock market index data. Also, returns the full list of supported benchmarks/indexes.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Index list retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexListResponse"}}}}}}},"/indexinfo":{"get":{"tags":["Indexes"],"summary":"Stock Market Index Info","description":"The Stock Market Index Info endpoint delivers stock market index information and returns the details for the requested index.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/IndexCode"}],"responses":{"200":{"description":"Index info retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexInfoResponse"}}}}}}},"/exchanges":{"get":{"tags":["Exchanges"],"summary":"Exchanges","description":"Using the Exchanges endpoint you will be able to look up information any of the 2700+ stock exchanges supported by this endpoint. This endpoint provides general information about several stock exchanges. Not all stock exchanges found here are supported by other Marketstack endpoints. For the supported stock exchanges supported by each endpoint, please verify each endpoint documentation.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Exchanges list retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangesResponse"}}}}}}},"/exchanges/{mic}":{"get":{"tags":["Exchanges"],"summary":"Specific Stock Exchange Info","description":"Returns detailed information for a single exchange (by MIC).","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/MIC"}],"responses":{"200":{"description":"Exchange retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangesResponse"}}}}}}},"/exchanges/{mic}/tickers":{"get":{"tags":["Exchanges"],"summary":"Specific Stock Exchange Tickers","description":"Returns tickers listed on a specific exchange.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/MIC"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Exchange tickers retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeMicTickersResponse"}}}}}}},"/exchanges/{mic}/eod":{"get":{"tags":["Exchanges"],"summary":"EOD Data for a Specific Stock Exchange","description":"Returns EOD data for all symbols on a specific exchange.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/MIC"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/Exchange"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Exchange EOD data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangesMicEod"}}}}}}},"/exchanges/{mic}/eod/latest":{"get":{"tags":["Exchanges"],"summary":"EOD Data for the Latest Date Available for a Specific Stock Exchange","description":"Returns EOD data for the latest date avialbale for all symbols on a specific exchange.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/MIC"}],"responses":{"200":{"description":"Latest EOD data for the exchange retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangesMicEod"}}}}}}},"/exchanges/{mic}/eod/{date}":{"get":{"tags":["Exchanges"],"summary":"EOD Data for a Specific Stock Exchange on a Specific Date","description":"Returns EOD data for the given date for all symbols on a specific exchange.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/MIC"},{"$ref":"#/components/parameters/DatePath"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"EOD data for the exchange and date retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangesMicEod"}}}}}}},"/exchanges/{mic}/intraday":{"get":{"tags":["Exchanges"],"summary":"Intraday Data for a Specific Stock Exchange","description":"Returns intraday data for all symbols on a specific exchange.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/MIC"},{"$ref":"#/components/parameters/Interval"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Exchange intraday data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayResponse"}}}}}}},"/exchanges/{mic}/intraday/latest":{"get":{"tags":["Exchanges"],"summary":"Intraday Data for the Latest Date Available for a Specific Stock Exchange","description":"Returns intraday data for the latest date avialbale for all symbols on a specific exchange.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/MIC"},{"$ref":"#/components/parameters/Interval"}],"responses":{"200":{"description":"Latest intraday data for the exchange retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayResponse"}}}}}}},"/exchanges/{mic}/intraday/{date}":{"get":{"tags":["Exchanges"],"summary":"Intraday Data for a Specific Stock Exchange on a Specific Date","description":"Returns intraday data for the given date for all symbols on a specific exchange.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Symbols"},{"$ref":"#/components/parameters/MIC"},{"$ref":"#/components/parameters/DateTimePath"},{"$ref":"#/components/parameters/Interval"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Exchange intraday data for the date retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayResponse"}}}}}}},"/currencies":{"get":{"tags":["Currencies"],"summary":"Currencies","description":"Returns a paginated list of supported currencies by Marketstack API.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Currencies retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrenciesResponse"}}}}}}},"/timezones":{"get":{"tags":["Timezones"],"summary":"Timezones","description":"Returns a paginated list of supported timezones by Marketstack API.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Timezones retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimezonesResponse"}}}}}}},"/bondlist":{"get":{"tags":["Bonds"],"summary":"Bonds Listing","description":"The Bonds Listing endpoint delivers the list of the supported countries data. Return the full list of supported countries.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"Bonds country list retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BondListResponse"}}}}}}},"/bond":{"get":{"tags":["Bonds"],"summary":"Bond Info","description":"The Bond endpoint delivers immediately real-time government bond data. The bond data focuses on treasury notes issued in leading countries worldwide for ten years. The Bond API delivers info for every country. Endpoint returns the details for the desired country.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/CountryName"}],"responses":{"200":{"description":"Bond info retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BondInfoResponse"}}}}}}},"/etflist":{"get":{"tags":["ETFs"],"summary":"ETF Holdings Listing","description":"The ETF Holdings Listing endpoint delivers instantly complete set of exchange-traded funds data based on the unique identifier code of an ETF data. The endpoint returns a full list of supported ETF tickers.\n\n\nThe example API request below demonstrates how to retrieve **ETF holdings data.**\n\n**Note:** The ETF API endpoints apply a **call count multiplier of 20.**","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/ETFListType"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"ETF tickers retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ETFListResponse"}}}}}}},"/etfholdings":{"get":{"tags":["ETFs"],"summary":"ETF Holdings Info","description":"ETF Holding Info (timeframe) holding data within a specified date range using a unique ticker identifier. You can adjust the `ticker`, `date_from`, and `date_to` parameters based on your specific needs.\n\nThe example API request below demonstrates how to retrieve **stock market index information.**\n\n**Note:**The ETF API endpoints use a **call count multiplier of 20.**","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/ETFTicker"},{"$ref":"#/components/parameters/DateFrom"},{"$ref":"#/components/parameters/DateTo"}],"responses":{"200":{"description":"ETF holdings retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ETFHoldingsResponse"}}}}}}},"/cik_code":{"get":{"tags":["EDGAR"],"summary":"Find CIK Code by Company Name","description":"Endpoint provides CIK code information with a search by company name or part of the company name. For example, if you search for “APP” in the response, the endpoint will provide information on the CIK code for all of the companies that we have in the database that have “APP” (“app”) in their name. If you enter “Example LLC”, then the API will give a response with all companies having “Example LLC” in the name, Example LLC Florida, Example LLC., Example LLC International, etc.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/CIKCompanyName"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"}],"responses":{"200":{"description":"CIK search results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CIKSearchResponse"}}}}}}},"/company_name":{"get":{"tags":["EDGAR"],"summary":"Find Company Name by CIK Code","description":"Find Company Name by CIK code, which will provide a company name with a search by the CIK Code. The CIK code must be entered with all 10 digits, including leading zeros if any. Since the CIK code is a unique code for every company, we also have CIK code validation, meaning if the CIK code is not entered in the correct format with all of the digits, we return an error for invalid CIK format. This API endpoint returns data only in case we have an exact match in the CIK code.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/CIKCode"}],"responses":{"200":{"description":"Company information retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyNameByCIKResponse"}}}}}}},"/submissions":{"get":{"tags":["EDGAR"],"summary":"Company Submission Data","description":"Returns submission details for a specific CIK. Pass atleast one parameter `cik_code_name` or  `cik_code`","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"cik_code","in":"query","required":false,"description":"The exact 10-digit CIK code including leading zeros (e.g., `0001509697`).","schema":{"type":"string"}},{"name":"cik_code_name","in":"query","required":false,"description":"The exact 10-digit CIK code including leading zeros ending with -submissions.json (e.g., `CIK0001509697-submissions.json`).","schema":{"type":"string"}},{"name":"report_from","in":"query","required":false,"description":"Filter filings by report date from this date (YYYY-MM-DD).","schema":{"type":"string","format":"date"}},{"name":"report_to","in":"query","required":false,"description":"Filter filings by report date to this date (YYYY-MM-DD).","schema":{"type":"string","format":"date"}},{"name":"filing_from","in":"query","required":false,"description":"Filter filings by filing date from this date (YYYY-MM-DD).","schema":{"type":"string","format":"date"}},{"name":"filing_to","in":"query","required":false,"description":"Filter filings by filing date to this date (YYYY-MM-DD).","schema":{"type":"string","format":"date"}},{"name":"accession_number","in":"query","required":false,"description":"Filter filings by exact accession number (e.g., `0001193125-20-209580`).","schema":{"type":"string"}}],"responses":{"200":{"description":"SEC submissions retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmissionsByCIKResponse"}}}}}}},"/company_facts":{"get":{"tags":["EDGAR"],"summary":"Company Facts","description":"Returns all the company concepts data for a specific CIK.","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/CIKCode"}],"responses":{"200":{"description":"Company facts retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyFactsByCIKResponse"}}}}}}},"/concept/accounts_payable":{"get":{"tags":["EDGAR"],"summary":"Company Concepts for US GAAP Accounts Payable","description":"This API endpoint returns all the disclosures from a single company (CIK) and concept (a taxonomy and tag) into a single JSON file, with a separate array of facts for each units on measure that the company has chosen to disclose (e.g. net profits reported in U.S. dollars and in Canadian dollars).","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"$ref":"#/components/parameters/CIKCode"}],"responses":{"200":{"description":"Accounts Payable data retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountsPayableResponse"}}}}}}},"/frames/accounts_payable/{unit}":{"get":{"tags":["EDGAR"],"summary":"Company Concepts for US GAAP Accounts Payable in a Specific Unit","description":"The frames API aggregates one fact for each reporting entity that is the last filed that most closely fits the calendrical period requested. This API supports annual, quarterly, and instantaneous data. This API endpoint is made for the US-GAAP taxonomy and the Accounts Payable Current type of the taxonomy.           \nWhere the units of measure specified in the API contain a numerator and a denominator, these are separated by “-per-” such as “USD-per-shares”. Note that the default unit in XBRL is “pure”.           \nThe period format is CY#### for annual data (duration 365 days +/- 30 days), CY####Q# for quarterly data (duration 91 days +/- 30 days), and CY####Q#I for instantaneous data. Because company financial calendars can start and end on any month or day and even change in length from quarter to quarter according to the day of the week, the frame data is assembled by the dates that best align with a calendar quarter or year. Data users should be mindful of the different reporting start and end dates for facts contained in a frame.\n","parameters":[{"$ref":"#/components/parameters/AccessKey"},{"name":"frame","in":"query","required":true,"description":"This is the information of the frame for which we want to receive information.","schema":{"type":"string"}},{"name":"unit","in":"path","required":true,"description":"The unit in which the data is requested. This parameter usually is USD. Validate and sanitize parameter inputs to ensure API security and expected input values.","schema":{"type":"string"}}],"responses":{"200":{"description":"Accounts Payable data in the specified unit retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrameResponse"}}}}}}}}}