openapi: 3.2.0
info:
  title: Marketstack API v2 Tickers API
  version: 2.0.0
  description: The official Marketstack API documentation will help you learn how to query the Marketstack JSON API for real-time, intraday, and historical stock market data, along with more advanced EDGAR data endpoints.
servers:
- url: https://api.marketstack.com/v2
security:
- ApiKeyQuery: []
tags:
- name: Tickers
paths:
  /tickers/{symbol}:
    get:
      tags:
      - Tickers
      summary: Ticker Information
      description: Using the API's Tickers endpoint you will be able to look up information about one or multiple stock ticker symbols as well as obtain end-of-day, real-time and intraday market data for single tickers.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: symbol
        in: path
        required: true
        description: Ticker symbol to look up (e.g., `AAPL`).
        schema:
          type: string
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Ticker information retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerResponse'
      operationId: getTickersBySymbol
      x-operation-id-source: derived
  /tickers/{symbol}/eod:
    get:
      tags:
      - Tickers
      summary: EOD Data for a Specific Ticker
      description: Obtain end-of-day data for a specific stock ticker by attaching `/eod` to your URL.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: symbol
        in: path
        required: true
        description: Ticker symbol to look up (e.g., `AAPL`).
        schema:
          type: string
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Tickers eod data retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerEodResponse'
      operationId: getTickersBySymbolEod
      x-operation-id-source: derived
  /tickers/{symbol}/splits:
    get:
      tags:
      - Tickers
      summary: Splits Factor for a Specific Ticker
      description: Obtain ticker splits factor for a specific stock ticker by attaching `/splits` to your URL.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: symbol
        in: path
        required: true
        description: Ticker symbol to look up (e.g., `AAPL`).
        schema:
          type: string
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: Tickers splits factor retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerSplitsResponse'
      operationId: getTickersBySymbolSplits
      x-operation-id-source: derived
  /tickers/{symbol}/dividends:
    get:
      tags:
      - Tickers
      summary: Dividends Data for a Specific Ticker
      description: Obtain ticker dividend data for a specific stock ticker by attaching `/dividends` to your URL.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: symbol
        in: path
        required: true
        description: Ticker symbol to look up (e.g., `AAPL`).
        schema:
          type: string
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: Tickers dividends data retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerDividendsResponse'
      operationId: getTickersBySymbolDividends
      x-operation-id-source: derived
  /tickers/{symbol}/intraday:
    get:
      tags:
      - Tickers
      summary: Intraday Data for a Specific Ticker
      description: Obtain real-time & intraday data for a specific stock ticker by attaching `/intraday` to your URL
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: symbol
        in: path
        required: true
        description: Ticker symbol to look up (e.g., `AAPL`).
        schema:
          type: string
      - $ref: '#/components/parameters/Interval'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/AfterHours'
      responses:
        '200':
          description: Tickers intraday data retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerIntradayResponse'
      operationId: getTickersBySymbolIntraday
      x-operation-id-source: derived
  /tickers/{symbol}/eod/{date}:
    get:
      tags:
      - Tickers
      summary: EOD Data for a Specific Ticker on a Specific Date
      description: Specify a date in `YYYY-MM-DD` format. You can also specify an exact time in ISO-8601 date format. For example, `2020-05-21T00:00:00+0000`. Example, `/eod/2020-01-01`.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: symbol
        in: path
        required: true
        description: Ticker symbol to look up (e.g., `AAPL`).
        schema:
          type: string
      - name: date
        in: path
        required: true
        description: date to look at (e.g., `2020-01-01`).
        schema:
          type: string
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Tickers eod data for the given date retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EODBar'
      operationId: getTickersBySymbolEodByDate
      x-operation-id-source: derived
  /tickers/{symbol}/eod/latest:
    get:
      tags:
      - Tickers
      summary: EOD Data for the Latest Date Available for a Specific Ticker
      description: Obtain eod data for the latest date by specifying stock ticker by attaching `/eod/latest` to your URL.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: symbol
        in: path
        required: true
        description: Ticker symbol to look up (e.g., `AAPL`).
        schema:
          type: string
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Tickers eod data for the latest date retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EODBar'
      operationId: getTickersBySymbolEodLatest
      x-operation-id-source: derived
  /tickers/{symbol}/intraday/latest:
    get:
      tags:
      - Tickers
      summary: Intraday Data for the Latest Date Available for a Specific Ticker
      description: Obtain intraday data for the latest date by specifying stock ticker by attaching `/intraday/latest` to your URL.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: symbol
        in: path
        required: true
        description: Ticker symbol to look up (e.g., `AAPL`).
        schema:
          type: string
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Tickers eod data for the latest date retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerIntradayLatestResponse'
      operationId: getTickersBySymbolIntradayLatest
      x-operation-id-source: derived
  /tickerslist:
    get:
      tags:
      - Tickers
      summary: Tickers List
      description: Using the `tickerslist` endpoint you will be able to get the full list of supported tickers.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Exchange'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Tickers list retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickersListResponse'
      operationId: getTickerslist
      x-operation-id-source: derived
  /tickerinfo:
    get:
      tags:
      - Tickers
      summary: Tickers Info
      description: Using the `tickerinfo` endpoint you will be able to get the full information about a ticker.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - $ref: '#/components/parameters/Ticker'
      responses:
        '200':
          description: Ticker information retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerInfoResponse'
      operationId: getTickerinfo
      x-operation-id-source: derived
components:
  parameters:
    AfterHours:
      name: after_hours
      in: query
      description: If set to true, includes pre and post market data if available. By default is set to false.
      required: false
      schema:
        type: boolean
    Ticker:
      name: ticker
      in: query
      description: One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).
      required: true
      schema:
        type: string
    DateTo:
      name: date_to
      in: query
      description: Filter results up to this date (inclusive). Format `YYYY-MM-DD`.
      required: false
      schema:
        type: string
        format: date
    AccessKey:
      name: access_key
      in: query
      description: Your Marketstack API access key.
      required: true
      schema:
        type: string
    Sort:
      name: sort
      in: query
      description: Sort order. Use `ASC` for oldest first or `DESC` for newest first.
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
    Limit:
      name: limit
      in: query
      description: Pagination limit (results per page). Default 100, maximum 1000.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    DateFrom:
      name: date_from
      in: query
      description: Filter results from this date (inclusive). Format `YYYY-MM-DD`.
      required: false
      schema:
        type: string
        format: date
    Interval:
      name: interval
      in: query
      description: Intraday aggregation interval.
      required: false
      schema:
        type: string
        enum:
        - 1min
        - 5min
        - 10min
        - 15min
        - 30min
        - 1hour
    Search:
      name: search
      in: query
      description: Search term to filter tickers by name or symbol.
      required: false
      schema:
        type: string
    Exchange:
      name: exchange
      in: query
      description: Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.
      required: false
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: Pagination offset (number of results to skip). Default 0.
      required: false
      schema:
        type: integer
        minimum: 0
  schemas:
    TickerIntradayResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: object
          properties:
            name:
              type: string
              description: Company or instrument name.
            symbol:
              type: string
              description: Ticker symbol.
            has_intraday:
              type: boolean
              description: Indicates if intraday data is available.
            has_eod:
              type: boolean
              description: Indicates if end-of-day data is available.
            country:
              type: string
              description: Country of the ticker.
            intraday:
              type: array
              items:
                type: object
                properties:
                  open:
                    type: number
                    format: float
                    description: Opening price for the bar.
                  high:
                    type: number
                    format: float
                    description: Highest price for the bar.
                  low:
                    type: number
                    format: float
                    description: Lowest price for the bar.
                  mid:
                    type: number
                    format: float
                    description: Mid price for the bar.
                  last_size:
                    type: number
                    format: float
                    description: Last trade size.
                  bid_size:
                    type: number
                    format: float
                    description: Bid size.
                  bid_price:
                    type: number
                    format: float
                    description: Bid price.
                  ask_price:
                    type: number
                    format: float
                    description: Ask price.
                  ask_size:
                    type: number
                    format: float
                    description: Ask size.
                  last:
                    type: number
                    format: float
                    description: Last trade price.
                  close:
                    type: number
                    format: float
                    description: Closing price for the bar.
                  volume:
                    type: number
                    format: float
                    description: Traded volume during the bar.
                  marketstack_last:
                    type: number
                    format: float
                    description: Marketstack last price.
                  date:
                    type: string
                    description: Timestamp of the bar in ISO8601 with timezone.
                  symbol:
                    type: string
                    description: Ticker symbol.
                  exchange:
                    type: string
                    description: Exchange code.
    TickersListResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Company or instrument name.
              ticker:
                type: string
                description: Ticker symbol.
              has_intraday:
                type: boolean
                description: Indicates if intraday data is available.
              has_eod:
                type: boolean
                description: Indicates if end-of-day data is available.
              stock_exchange:
                type: object
                properties:
                  name:
                    type: string
                    description: Exchange name.
                  acronym:
                    type: string
                    description: Exchange acronym.
                  mic:
                    type: string
                    description: MIC identification of the exchange.
    Pagination:
      type: object
      properties:
        limit:
          type: integer
          description: Returns your pagination limit value.
        offset:
          type: integer
          description: Returns your pagination offset value.
        count:
          type: integer
          description: Returns the results count on the current page.
        total:
          type: integer
          description: Returns the total count of results available.
    TickerResponse:
      type: object
      properties:
        name:
          type: string
          description: Company or instrument name.
        symbol:
          type: string
          description: Ticker symbol.
        cik:
          type: string
          description: SEC Central Index Key.
        isin:
          type: string
          description: International Securities Identification Number.
        cusip:
          type: string
          description: U.S./Canada security identifier (CUSIP).
        ein_employer_id:
          type: string
          description: Employer Identification Number.
        lei:
          type: string
          description: Legal Entity Identifier.
        series_id:
          type: string
          description: Series ID.
        item_type:
          type: string
          description: Type of item (e.g., equity).
        sector:
          type: string
          description: Sector of the company.
        industry:
          type: string
          description: Industry of the company.
        sic_code:
          type: string
          description: Standard Industrial Classification code.
        sic_name:
          type: string
          description: SIC description.
        stock_exchange:
          type: object
          properties:
            name:
              type: string
              description: Exchange name.
            acronym:
              type: string
              description: Exchange acronym.
            mic:
              type: string
              description: MIC identification of the exchange.
            country:
              type:
              - string
              - 'null'
              description: Exchange country.
            country_code:
              type: string
              description: Three-letter country code.
            city:
              type: string
              description: Exchange city.
            website:
              type: string
              description: Exchange website URL.
            operating_mic:
              type: string
              description: Operating Market Identifier Code.
            oprt_sgmt:
              type: string
              description: Indicates operating MIC vs market segment MIC.
            legal_entity_name:
              type: string
              description: Legal entity name.
            exchange_lei:
              type: string
              description: Exchange Legal Entity Identifier (LEI).
            market_category_code:
              type: string
              description: Market category code.
            exchange_status:
              type: string
              description: Current status of the exchange.
            date_creation:
              type: object
              properties:
                date:
                  type: string
                  description: Creation date.
                timezone_type:
                  type: integer
                  description: Timezone type.
                timezone:
                  type: string
                  description: Timezone offset.
            date_last_update:
              type: object
              properties:
                date:
                  type: string
                  description: Last update date.
                timezone_type:
                  type: integer
                  description: Timezone type.
                timezone:
                  type: string
                  description: Timezone offset.
            date_last_validation:
              type: object
              properties:
                date:
                  type: string
                  description: Last validation date.
                timezone_type:
                  type: integer
                  description: Timezone type.
                timezone:
                  type: string
                  description: Timezone offset.
            date_expiry:
              type: string
              description: Expiry date.
            comments:
              type: string
              description: Additional comments.
    TickerEodResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: object
          properties:
            name:
              type: string
              description: Company or instrument name.
            symbol:
              type: string
              description: Ticker symbol.
            has_intraday:
              type: boolean
              description: Indicates if intraday data is available.
            has_eod:
              type: boolean
              description: Indicates if end-of-day data is available.
            country:
              type: string
              description: Country of the ticker.
            eod:
              type: array
              items:
                $ref: '#/components/schemas/EODBar'
    TickerDividendsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                description: Ex-dividend date.
              dividend:
                type: number
                format: float
                description: Dividend amount per share.
              payment_date:
                type: string
                description: Payment date of the dividend.
              record_date:
                type: string
                description: Record date for the dividend.
              declaration_date:
                type: string
                description: Declaration date for the dividend.
              distr_freq:
                type: string
                description: Distribution frequency (e.g., q for quarterly).
              symbol:
                type: string
                description: Ticker symbol the dividend
    EODBar:
      type: object
      description: End-of-day bar data for a single symbol and date.
      properties:
        open:
          type: number
          format: float
          description: Opening price for the trading session.
        high:
          type: number
          format: float
          description: Highest price of the session.
        low:
          type: number
          format: float
          description: Lowest price of the session.
        close:
          type: number
          format: float
          description: Closing price of the session.
        volume:
          type: number
          format: float
          description: Traded volume during the session.
        adj_high:
          type: number
          format: float
          description: High price adjusted for corporate actions.
        adj_low:
          type: number
          format: float
          description: Low price adjusted for corporate actions.
        adj_close:
          type: number
          format: float
          description: Close price adjusted for corporate actions.
        adj_open:
          type: number
          format: float
          description: Open price adjusted for corporate actions.
        adj_volume:
          type: number
          format: float
          description: Volume adjusted for corporate actions.
        split_factor:
          type: number
          format: float
          description: Cumulative stock split factor applied for the date.
        dividend:
          type: number
          format: float
          description: Dividend amount per share for the date.
        name:
          type: string
          description: Company name.
        exchange_code:
          type: string
          description: Human-friendly exchange code (for example NASDAQ).
        asset_type:
          type: string
          description: Asset class
        price_currency:
          type: string
          description: Price currency (ISO code in lower case).
        symbol:
          type: string
          description: Ticker symbol.
        exchange:
          type: string
          description: MIC of the exchange.
        date:
          type: string
          description: Timestamp of the bar in ISO8601 with timezone.
    TickerIntradayLatestResponse:
      type: object
      properties:
        open:
          type: number
          format: float
          description: Opening price for the bar.
        high:
          type: number
          format: float
          description: Highest price for the bar.
        low:
          type: number
          format: float
          description: Lowest price for the bar.
        mid:
          type: number
          format: float
          description: Mid price for the bar.
        last_size:
          type: number
          format: float
          description: Last trade size.
        bid_size:
          type: number
          format: float
          description: Bid size.
        bid_price:
          type: number
          format: float
          description: Bid price.
        ask_price:
          type: number
          format: float
          description: Ask price.
        ask_size:
          type: number
          format: float
          description: Ask size.
        last:
          type: number
          format: float
          description: Last trade price.
        close:
          type: number
          format: float
          description: Closing price for the bar.
        volume:
          type: number
          format: float
          description: Traded volume during the bar.
        marketstack_last:
          type: number
          format: float
          description: Marketstack last price.
        date:
          type: string
          description: Timestamp of the bar in ISO8601 with timezone.
        symbol:
          type: string
          description: Ticker symbol.
        exchange:
          type: string
          description: Exchange code.
    TickerSplitsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                description: Date of the split.
              split_factor:
                type: number
                description: Split ratio applied on the date.
              stock_split:
                type: string
                description: Additional stock split info (nullable).
              symbol:
                type: string
                description: Ticker symbol the split
    TickerInfoResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            name:
              type: string
              description: Company or instrument name.
            ticker:
              type: string
              description: Ticker symbol.
            item_type:
              type: string
              description: Type of item (e.g., equity).
            sector:
              type: string
              description: Sector of the company.
            industry:
              type: string
              description: Industry of the company.
            exchange_code:
              type: string
              description: Exchange code.
            full_time_employees:
              type: string
              description: Number of full-time employees.
            ipo_date:
              type: string
              description: IPO date.
            date_founded:
              type: string
              description: Date founded.
            key_executives:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Executive name.
                  salary:
                    type: string
                    description: Executive salary.
                  function:
                    type: string
                    description: Executive function/role.
                  exercised:
                    type: string
                    description: Exercised options/shares.
                  birth_year:
                    type: string
                    description: Birth year.
            incorporation:
              type: string
              description: State or country of incorporation.
            incorporation_description:
              type: string
              description: Description of incorporation.
            start_fiscal:
              type: string
              description: Start of fiscal year.
            end_fiscal:
              type: string
              description: End of fiscal year.
            reporting_currency:
              type: string
              description: Reporting currency.
            address:
              type: object
              properties:
                city:
                  type: string
                  description: City.
                street1:
                  type: string
                  description: Street address line 1.
                street2:
                  type: string
                  description: Street address line 2.
                postal_code:
                  type: string
                  description: Postal code.
                stateOrCountry:
                  type: string
                  description: State or country code.
                state_or_country_description:
                  type: string
                  description: State or country description.
            post_address:
              type: object
              properties:
                city:
                  type: string
                  description: City.
                street1:
                  type: string
                  description: Street address line 1.
                street2:
                  type: string
                  description: Street address line 2.
                postal_code:
                  type: string
                  description: Postal code.
                stateOrCountry:
                  type: string
                  description: State or country code.
                state_or_country_description:
                  type: string
                  description: State or country description.
            phone:
              type: string
              description: Company phone number.
            website:
              type: string
              description: Company website.
            previous_names:
              type: array
              items:
                type: string
              description: Previous company names.
            about:
              type: string
              description: Company description.
            mission:
              type: string
              description: Company mission statement.
            vision:
              type: string
              description: Company vision statement.
            stock_exchanges:
              type: array
              items:
                type: object
                properties:
                  city:
                    type: string
                    description: Exchange city.
                  country:
                    type: string
                    description: Exchange country.
                  website:
                    type: string
                    description: Exchange website.
                  acronym1:
                    type: string
                    description: Exchange acronym.
                  alpha2_code:
                    type: string
                    description: Country code.
                  exchange_mic:
                    type: string
                    description: Exchange MIC.
                  exchange_name:
                    type: string
                    description: Exchange name.
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: access_key
      description: Your Marketstack API access key.
