openapi: 3.2.0
info:
  title: Marketstack API v2 Indexes API
  version: 2.0.0
  description: 'The official Marketstack API documentation will help you learn how to query the Marketstack JSON API for real-time, intraday, and historical stock market data, along with more advanced EDGAR data endpoints. Also, define multiple stock symbols, retrieve extensive data about 2700+ Stock Exchanges Info, 30000+ Stock tickers from more than 50 countries, as well as 750 + Stock Market indexes, information about timezones, currencies, and more.


    Our API is built upon a RESTful and easy-to-understand request and response structure. API requests are always sent using a simple API request URL with a series of required and optional HTTPS GET parameters, and API responses are provided in lightweight JSON format.

    '
servers:
- url: https://api.marketstack.com/v2
security:
- ApiKeyQuery: []
tags:
- name: Indexes
paths:
  /indexlist:
    get:
      tags:
      - Indexes
      summary: Stock Market Index Listing
      description: The Stock Market Index Listing endpoint delivers instantly real-time and historical stock market index data. Also, returns the full list of supported benchmarks/indexes.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Index list retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexListResponse'
  /indexinfo:
    get:
      tags:
      - Indexes
      summary: Stock Market Index Info
      description: The Stock Market Index Info endpoint delivers stock market index information and returns the details for the requested index.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - $ref: '#/components/parameters/IndexCode'
      responses:
        '200':
          description: Index info retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexInfoResponse'
components:
  schemas:
    IndexListItem:
      type: object
      properties:
        benchmark:
          type: string
          description: Benchmark code of the market index.
    IndexInfoResponse:
      type: array
      items:
        $ref: '#/components/schemas/IndexInfoItem'
    IndexListResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          items:
            $ref: '#/components/schemas/IndexListItem'
    Pagination:
      type: object
      properties:
        limit:
          type: integer
          description: Returns your pagination limit value.
        offset:
          type: integer
          description: Returns your pagination offset value.
        count:
          type: integer
          description: Returns the results count on the current page.
        total:
          type: integer
          description: Returns the total count of results available.
    IndexInfoItem:
      type: object
      properties:
        benchmark:
          type: string
          description: Benchmark name of the market index.
        region:
          type: string
          description: Region of the index.
        country:
          type: string
          description: Country of the index.
        price:
          type: string
          description: Current index price.
        price_change_day:
          type: string
          description: Absolute day change.
        percentage_day:
          type: string
          description: Day change in percent.
        percentage_week:
          type: string
          description: Week change in percent.
        percentage_month:
          type: string
          description: Month change in percent.
        percentage_year:
          type: string
          description: Year change in percent.
        date:
          type: string
          description: Date of the quote.
  parameters:
    IndexCode:
      name: index
      in: query
      required: true
      description: Benchmark/index identifier (e.g., `australia_all_ordinaries`).
      schema:
        type: string
    AccessKey:
      name: access_key
      in: query
      description: Your Marketstack API access key.
      required: true
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: Pagination offset (number of results to skip). Default 0.
      required: false
      schema:
        type: integer
        minimum: 0
    Limit:
      name: limit
      in: query
      description: Pagination limit (results per page). Default 100, maximum 1000.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: access_key
      description: Your Marketstack API access key.
