openapi: 3.2.0
info:
  title: Marketstack API v2 Stock Prices API
  version: 2.0.0
  description: The official Marketstack API documentation will help you learn how to query the Marketstack JSON API for real-time, intraday, and historical stock market data, along with more advanced EDGAR data endpoints.
servers:
- url: https://api.marketstack.com/v2
security:
- ApiKeyQuery: []
tags:
- name: Stock Prices
paths:
  /stockprice:
    get:
      tags:
      - Stock Prices
      summary: Real-time Stock Market Prices
      description: Real-time Stock Market Prices endpoint delivers instant access to live market data for stocks across major exchanges worldwide. Track intraday stock performance on `NYSE`, `NASDAQ`, `LON`, `WSE`, `EPA`, `SHE`, `NSE`, and much more.
      parameters:
      - $ref: '#/components/parameters/AccessKey'
      - name: ticker
        in: query
        required: true
        description: Ticker for which to retrieve the stock price (e.g., `AAPL`).
        schema:
          type: string
      - name: exchange
        in: query
        required: false
        description: Optional exchange filter (e.g., `NASDAQ`).
        schema:
          type: string
      responses:
        '200':
          description: Real-time stock price data retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockPriceResponse'
      operationId: getStockprice
      x-operation-id-source: derived
components:
  schemas:
    StockPriceResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StockPriceItem'
    StockPriceItem:
      type: object
      properties:
        exchange_code:
          type: string
          description: Exchange code.
        exchange_name:
          type: string
          description: Exchange name.
        country:
          type: string
          description: Exchange country.
        ticker:
          type: string
          description: Ticker symbol.
        price:
          type: string
          description: Last known price.
        currency:
          type: string
          description: Trading currency.
        trade_last:
          type: string
          description: Timestamp of the last known trade.
  parameters:
    AccessKey:
      name: access_key
      in: query
      description: Your Marketstack API access key.
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: access_key
      description: Your Marketstack API access key.
